body {
  padding: 50px;
  background-color: #eb4141;
}

h1 {
  color: rgb(86, 84, 221);
  background-color: rgb(223, 221, 221);
}

h2 {
  color: rgb(86, 84, 221);
  background-color: rgb(223, 221, 221);
}

p {
  background-color: rgb(66, 62, 62);
  padding: 10px;
  color: #fff;
}
